<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/Logo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ToDoList</title>
</head>
<body>


    <header>
        <img src="img/Logo.png" alt="Logo boolean"/>
        <h1>Toboolists</h1>
    </header>

    <div id="app">

        <div id="button-section">
            <input type="text" placeholder="Keep Track of your Daily Tasks" v-model="newTask" keyup.eneter="newTask">
            <button><i @click="addTask" class="fa-solid fa-plus"></i></button>
            <div v-show="error">Error, the task needs at least 5 words</div>
        </div>

        <hr/>

        <div id="container">
            <h2>To Do List:</h2>
            <div class="taskLine flexer">
                <ul v-if="tasklist.length > 0" class="myTask">
                    <li v-for="(task, index) in tasklist" class="flexer singleItem">
                      <div class="flexer">
                        <input type="checkbox">
                        <p>{{task}}</p>
                      </div>
                      <div class="trash">
                        <i @click="removeTask(index)" class="fa-solid fa-trash"></i>
                      </div>
                    </li>
                </ul>
                <div v-else>No Tasks</div>
            </div>
        </div>

    </div>
    
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./main.js"></script>
</body>
</html>