*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Changa', sans-serif;
    background-color: #7ECDFB;
}

/* HEADER STYLE PART */

header {
    width: 100%;
    background-color: whitesmoke;
    padding: 15px 0 15px 15px;
    display: flex;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 40px;
    padding-left: 8px;
}

/*  MAIN STYLE PART */

main {
    width: 55%;
    margin: auto;
    margin-top: 3%;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 0 8px;
}

hr {
    color: rgb(230, 226, 226);
    border-style: solid;
}

/* BUTTON STYLE */

#button-section {
    padding: 12px 0;
    text-align: center;
}

#button-section button {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    margin: 12px 0;
    border: 1px solid lightgray;
}

#button-section input {
    width: 60%;
    border-radius: 6px;
    height: 30px;
    padding: 6px;
    border: none;
}

/* CONTAINER STYLE */

#container {
    min-height: 60vh;
}

#container h2 {
    font-size: 32px;
    text-align: center;
}

#container p {
    font-size: 20px;
}

.taskLine {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(230, 226, 226);
}

.myTask {
    display: flex;
    align-items: center;
    gap: 8px;
}

.trash {
    font-size: 0;
}

.trash i {
    font-size: 20px;
}

.trash i:hover {
    color: red;
}